<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>这是一个个人中心页面</h3>
    <!--  后台有数据,需要将这个数据,渲染到这个人中心的页面中 -->
    <h4>欢迎您: </h4> <%- username %>
</body>
<script>
    //在浏览器中,通过js操作cookie 
    console.log(document.cookie)
    // document.cookie = 'id=123123123'
</script>
</html>