.img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img img {
  width: 100px;
}
.code {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.code-btn {
  height: 30px;
  padding: 3px 5px;
  font-size: 12px;
  /* color: #fff; */
  background-color: #ccc;
  border: none;
  outline: none;
  /* color: #fff; */
  border-radius: 44px;
}

.code-next {
  margin-top: 40px;
  border-radius: 22px;
  margin-bottom: 30px;
}

.tip {
  text-align: center;
}

.psw {
  width: 100%;
}
